
AchmeaProject/.vs/AchmeaProject/DesignTimeBuild/.dtbcache
AchmeaProject/.vs/AchmeaProject/v16/Server/sqlite3/db.lock
AchmeaProject/.vs/AchmeaProject/v16/Server/sqlite3/storage.ide
AchmeaProject/.vs/AchmeaProject/v16/Server/sqlite3/storage.ide-shm
AchmeaProject/.vs/AchmeaProject/v16/Server/sqlite3/storage.ide-wal
AchmeaProject/.vs/AchmeaProject/v16/TestStore/0/000.testlog~e3bea5eac80883001745ec8e2307b989d2b1e81e
AchmeaProject/AchmeaProject/obj/AchmeaProject.csproj.nuget.cache
AchmeaProject/AchmeaProject/obj/Debug/netcoreapp3.1/AchmeaProject.AssemblyInfo.cs
AchmeaProject/AchmeaProject/obj/Debug/netcoreapp3.1/AchmeaProject.AssemblyInfoInputs.cache
AchmeaProject/AchmeaProject/obj/Debug/netcoreapp3.1/AchmeaProject.RazorAssemblyInfo.cache
AchmeaProject/AchmeaProject/obj/Debug/netcoreapp3.1/AchmeaProject.RazorAssemblyInfo.cs
AchmeaProject/AchmeaProject/obj/Release/netcoreapp3.1/AchmeaProject.AssemblyInfo.cs
AchmeaProject/AchmeaProject/obj/Release/netcoreapp3.1/AchmeaProject.AssemblyInfoInputs.cache
AchmeaProject/AchmeaProject/obj/Release/netcoreapp3.1/AchmeaProject.assets.cache
AchmeaProject/AchmeaProject/obj/Release/netcoreapp3.1/AchmeaProject.RazorAssemblyInfo.cache
AchmeaProject/AchmeaProject/obj/Release/netcoreapp3.1/AchmeaProject.RazorAssemblyInfo.cs
AchmeaProject/AchmeaTests/obj/AchmeaTests.csproj.nuget.cache
AchmeaProject/AchmeaTests/obj/Debug/netcoreapp3.1/AchmeaTests.AssemblyInfo.cs
AchmeaProject/AchmeaTests/obj/Debug/netcoreapp3.1/AchmeaTests.AssemblyInfoInputs.cache
AchmeaProject/AchmeaTests/obj/Release/netcoreapp3.1/AchmeaTests.AssemblyInfo.cs
AchmeaProject/AchmeaTests/obj/Release/netcoreapp3.1/AchmeaTests.AssemblyInfoInputs.cache
AchmeaProject/AchmeaTests/obj/Release/netcoreapp3.1/AchmeaTests.assets.cache
