@model List<MockProject>
@{
    ViewData["Title"] = "Index";
}

<h1>Project overview</h1>

<div class="body-content">
    <table class="project-table table table-hover">
        <thead>
            <tr>
                <th>Project</th>
                <th>Status</th>
                <th>Owner</th>
            </tr>
        </thead>
        <tbody>
            @foreach (MockProject project in Model)
            {
                <tr>
                    <td>@project.Name</td>
                    <td>@project.Status</td>
                    <td>@project.Owner</td>
                </tr>
            }
        </tbody>
    </table>
</div>

