
@{
    ViewData["Title"] = "Index";
}

<h1>Project overview</h1>

<table class="table-primary">
    <thead>
        <tr>
            <td>Project</td>
            <td>Status</td>
            <td>Owner</td>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>

